.App {
  text-align: center;
  align-content: center;
}

html {
  background-color: #161925;
}

/* NAVBAR */
/* 
.sidebar {
  width: 16%;
  height: 100vh;
  position: fixed;
  z-index: 11;
  transform-origin: left;
} */
.li-nav {
  text-decoration: none;
  color: white;
}

.li-nav:hover {
  text-decoration: none;
  color: #ef8b09;
}

.sidebar {
  background-color: #ef8b09;
}

.main-content {
  color: #4870df;
  /* background-color: rgb(179, 179, 179); */
  background-position: center;
  background-image: url("https://preview.redd.it/p0sodeszt0l61.jpg?auto=webp&s=3e88a78a78bf3e415014b9a09c5cdd04f58a0f0b");
  min-height: 100vh;
  background-size: 3400px;
  background-position: center;
  display: grid;
  position: relative;
}

.content {
  margin-top: 40px;
  margin-bottom: 50px;
}

.nav {
  background-color: red;
}

#div_top_hypers {
  background-color: #eeeeee;
  display: inline;
}
#ul_top_hypers li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}

li {
  text-decoration: none;
}

/* cards */

.card:hover {
  background-color: #4870df;
  box-shadow: none;
  color: #161925 !important;
  transform: translate(4px, 3px);
}

.card-content {
  overflow: hidden;
  padding-bottom: 0.2rem;
  text-align: center;
  margin: 20px;
}

.card {
  background-color: #31333a;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  box-shadow: inset 5em 1em #141517;
  transition: 0.3s;
  padding: 20px;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
}

/* messages */

.message-btn-input {
  float: right;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #4870df, #1b3a8f);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  /* padding: 10px; */
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  transition: 0.3s;
}

.message-btn-input:hover {
  background: linear-gradient(to right, #9c27b0, #e040fb);
}

.message-form-input {
  height: 40px;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  width: 70%;
  background-color: #dedfed;
  box-shadow: inset 0 0 0 2px #dedfed;
  font-size: 14px;
  font-weight: bold;
  transition: 0.15s all ease-in-out;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.messages-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  float: center;
  margin: 0 2.5rem;
  box-shadow: 0 35px 20px -30px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 1.2rem;
}

.messages-container-2 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  float: center;
  margin: 0 2.5rem;
  box-shadow: 0 35px 20px -30px rgba(0, 0, 0, 0.1);
  background-image: url("https://images4.alphacoders.com/115/thumb-1920-1151249.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 1.2rem;
}

.message-room {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  padding: 5rem 5rem;
  animation: fadeChatApp 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

.bubble {
  float: left;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 60%;
  height: 20%;
  width: fit-content;
  font-size: 14px;
  background-color: #4870df;
  color: white;
}

.invisible {
  display: none;
}

/* chat */

.triangle {
  border-color: transparent transparent #58b666 transparent;
  margin-left: 15px;
}

.sender {
  float: right;
  margin-right: 95%;
}

/* cards */

.login-card {
  background-color: #fbfff7;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}

.login-card input {
  float: right;
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #4870df, #1b3a8f);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Ubuntu", sans-serif;
  /* padding: 10px; */
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  transition: 0.3s;
}
